<footer class="page-footer font-small mdb-color darken-3 pt-4 mt-5">
    <hr>

    <!-- Footer Elements -->
    <div class="container">
  
      <!--Grid row-->
      <div class="container ">
        <div class="row">
          <div class="col-sm">
            <p>god's whip is a community of various people, founded in 2017. we decided to create a website to make our memories permanent. good luck everyone</p>
          </div>
          <div class="col-sm">
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/510I4xhDqLlIdXPnGCq6l3?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </div>
          <div class="col-sm ">
            <ul class="">
                <li class=""><a class="underline" href="/aboutus">about us</a></li>
                <li><a class="underline" href="/entry/add">add entry</a></li>
                <li><a class="underline" href="/index">index</a></li>
                <li><a href="/howtouse" class="underline">how to use</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a class="underline" href="/"> godswhip.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->